<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>OAuth2</title>
    <script type="text/javascript" th:src="@{/js/zetabase.js}"></script>
    <script type="text/javascript" th:src="@{/js/parsley.js}"></script>
    <script type="text/javascript" th:src="@{/js/base64.min.js}"></script>
</head>
<body>
    <form class="js-login-form">
        <fieldset class="form-horizontal fieldset-sm fieldset-mix">
            <input type="hidden" name="client_id" th:value="${#httpServletRequest.getParameter('client_id')}" />
            <input type="hidden" name="response_type" th:value="${#httpServletRequest.getParameter('response_type')}" />
            <input type="hidden" name="redirect_uri" th:value="${#httpServletRequest.getParameter('redirect_uri')}" />
            <input type="hidden" name="state" th:value="${#httpServletRequest.getParameter('state')}" />
            <input type="hidden" name="uid" th:value="${uid}" />
            <div class="text-center">
                <h1>登 录</h1>
            </div>
            <div class="login-form-row">
                <input type="text" data-parsley-trigger="change" placeholder="输入账号" name="username"
                       required="required"/>
            </div>
            <div class="login-form-row">
                <input type="password" data-parsley-trigger="change" placeholder="输入密码" name="password"
                       required="required"/>
            </div>
            <button class="btn btn-primary btn-block btn-lg" type="submit">登录</button>
        </fieldset>
    </form>
    <script type="text/javascript">
//        <![CDATA[
        console.log("login")
$(function () {
    console.log("authorize");
    $('.js-login-form').parsley();
    $('.js-login-form').on('submit', function () {
        console.log("submit");
        $.ajax({
            url: 'http://localhost:9091/authorize',
            type: 'post',
            data: {
                username: $('.js-login-form [name="username"]').val(),
                password: Base64.encode($('.js-login-form [name="password"]').val()),
                client_id: $('.js-login-form [name="client_id"]').val(),
                response_type: $('.js-login-form [name="response_type"]').val(),
                redirect_uri: $('.js-login-form [name="redirect_uri"]').val(),
                state: $('.js-login-form [name="state"]').val(),
                uid: $('.js-login-form [name="uid"]').val()
            },
            success: function(data) {
                console.log(data.result)
                if(data.status==1){
                    window.location.href = data.result;
                }else{
                    console.log('error:'+data);
                }
            },
            error:function(jqXHR,data) {
                console.log(jqXHR.responseText);
                switch (jqXHR.status) {
                    case 0:
                        Messenger().post({
                            message: window.i18nFunc('Communication failure'),
                            type: 'error'
                        });
                        break;
                    case 401:
                        window.location.href = '/login';
                        break;
                    case 403:
                        Messenger().post({
                            message: '用户无权限！',
                            type: 'error'
                        });
                        break;
                    case 404:
                        Messenger().post({
                            message: '404!',
                            type: 'error'
                        });
                        break;
                    case 500:
                        var obj = eval('(' + jqXHR.responseText + ')');
                        Messenger().post({
                            message: obj.result,
                            type: 'error'
                        });
                        break;
                    case 503:
                        var _match = jqXHR.responseText.match(/(.+), Service\(/);
                        Messenger().post({
                            message: _match ? _match[1] : window.i18nFunc('Communication failure'),
                            type: 'error'
                        });
                        break;
                    default:
                        break
                }
            }
        });

        return false
    });

});
//        ]]>
    </script>
</body>
</html>